{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 col-xl-6 offset-lg-2 offset-xl-3 text-center">

                <p class="font-weight-bold">Time :</p>

                <div>
                    {# <p class="m-0 p-0"><img src="/images/time.png" class="img-chrono" alt="icone chrono"></p> #}
                    <p class="time-display"><span class="minutes-display">{{ numMinutes }}</span> : <span class="secondes-display">{{ numSecondes }}</span></p>
                </div>
                
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <p class="font-weight-bold mt-5">Memorise this :</p>
                <p class="generated-nums">85 74 25 11 44 ...</p>
                <a href="{{ path('numbers_recall') }}"><button class="ready-memorise-button">Ready!</button></a>
            </div>
        </div>
    </div>
</div>


<script>
    const generatedNumsElement = document.querySelector(".generated-nums");
    generatedNumsElement.innerText = "{{generatedNums}}";

    var minutes = {{ numMinutes }};
    var secondes = {{ numSecondes }};
    const fullTimeInSecondes = (minutes*60) + secondes;
    var timeout;

    function timer() {

        if (secondes === 0) {
            minutes = minutes - 1;
            secondes = 60;
        }
        secondes = secondes - 1;

        //stringy minutes for extra zero in front
        if (minutes < 10) {
            var stringyMins = "0" + minutes;
        }
        else {
            var stringyMins = minutes;
        }

        //stringy secondes for extra zero in front
        if (secondes < 10) {
            var stringySecs = "0" + secondes;
        }
        else {
            var stringySecs = secondes;
        }


        var minDisplay = document.querySelector(".minutes-display");
        minDisplay.innerText = stringyMins;

        var secDisplay = document.querySelector(".secondes-display");
        secDisplay.innerText = stringySecs;

        var currentFullTimeInSecondes = (minutes * 60) + secondes;
        var progressPercent = (currentFullTimeInSecondes * 100) / fullTimeInSecondes;
        // console.log(progressPercent);
        var progressBar = document.querySelector(".progress-bar");
        progressBar.style.width = progressPercent + "%";


        timeout = setTimeout(timer, 1000);
        if (minutes === 0 && secondes === 0) {
            // alert("Time over!");
            clearTimeout(timeout);
            ajaxCallAsynch("numbers");
        }
    }


    //ajax
    function ajaxCallAsynch(section) {
        // console.dir(myForm);
        console.log('section : ', section);
    
        console.log(section);
        var formData = new FormData();
        if (section === undefined) {
        console.log("end ajax default ", section);
        return;
        }
        else {
        console.log("coucou ajax");
        }
    
    
        
        fetch(`/${section}/memorise/end`).then(function (response) {
    
        console.dir(response);
        return response.text();
    
        }).then(function (data) {
        console.log("data : ", data);
        if (data != "") {
            location.href = '/numbers/recall';
        }
    
        
        });
    
    
    }
  
    //END AJAX
    

  timer();
</script>
{% endblock %}