{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <p>Score :</p>
                <p>{{score}}/{{maxScore}}</p>
                <p>The Answer :</p>
                <p>{{strAnswer}}</p>
                <p>Your Answer :</p>
                <p>{{strUserAnswer}}</p>
                <button><a href="{{ path('numbers_memorise') }}">Redo</a></button>
                <button><a href="{{ path('numbers_setup') }}">Re-setup</a></button>
                <button><a href="{{ path('default') }}">Astuces</a></button>
                <button><a href="{{ path('default') }}">Home</a></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}