{% extends 'base.html.twig' %}

{# {% block title %}Hello DefaultController!{% endblock %} #}

{% block body %}

{# <div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4 text-center">
                <p>Choisisez sur quoi vous voulez testez votre mémoire :</p>
                <ul id="main-menu" class="list-unstyled d-flex justify-content-center">
                    <li><a href="{{ path('numbers_setup') }}">Numbers</a></li>
                    <li><a href="{{ path('words_setup') }}">Words</a></li>
                    <li><a href="{{ path('people_setup') }}">People</a></li>
                    <li><a href="#">Cards</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> #}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center main-menu-text">
                <p>Choisisez sur quoi vous voulez testez votre mémoire :</p>
            </div>
        </div>
        <div id="main-menu" class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center d-flex justify-content-center mb-2">
                <div>
                    <div class="main-button text-center bg-color-2 mr-4">
                        <p><a href="{{ path('numbers_setup') }}"><img src="/images/123-numbers.svg" alt="icone chiffres"></a></p>
                    </div>
                    <p><a href="{{ path('numbers_setup') }}">Numbers</a></p>
                </div>

                <div>
                    <div class="main-button text-center bg-color-2">
                        <p><a href="{{ path('words_setup') }}"><img src="/images/words-icon.png" alt="icone ABC"></a></p>
                    </div>
                    <p><a href="{{ path('words_setup') }}">Words</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-3 text-center d-flex justify-content-center">
                <div>
                    <div class="main-button text-center bg-color-3 mr-4">
                        <p><a href="{{ path('people_setup') }}"><img src="/images/people.png" alt="icone personnes"></a></p>
                    </div>
                    <p><a href="{{ path('people_setup') }}">People</a></p>
                </div>

                <div>
                    <div class="main-button text-center bg-color-4">
                        {# <p><a href="#"><img src="/images/memory-logo-title.png" alt="header : memory" class="w-50"></a></p> #}
                    </div>
                    <p><a href="#">Cards</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
