{% extends 'base.html.twig' %}

{# {% block title %}Hello DefaultController!{% endblock %} #}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center main-menu-text">
                <p>Choisisez sur quoi vous voulez testez votre mémoire :</p>
            </div>
        </div>
        <div id="main-menu" class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center d-flex justify-content-center mb-2">
                <div class="mr-4">
                    <a href="{{ path('numbers_setup') }}">
                    <div class="main-button text-center bg-color-2">
                        <p><img src="/images/123-numbers.svg" alt="icone chiffres"></p>
                    </div>
                    </a>
                    <p><a href="{{ path('numbers_setup') }}">Numbers</a></p>
                </div>

                <div>
                    <a href="{{ path('words_setup') }}">
                    <div class="main-button text-center bg-color-2">
                        <p><img src="/images/words-icon.png" alt="icone ABC"></p>
                    </div>
                    </a>
                    <p><a href="{{ path('words_setup') }}">Words</a></p>
                </div>
            </div>
            <div class="col-12 col-lg-6 offset-lg-3 text-center d-flex justify-content-center">
                <div class="mr-4">
                    <a href="{{ path('people_setup') }}">
                    <div class="main-button text-center bg-color-3">
                        <p><img src="/images/people.png" alt="icone personnes"></p>
                    </div>
                    </a>
                    <p><a href="{{ path('people_setup') }}">People</a></p>
                </div>

                <div>
                    <a href="{{ path('cards_setup') }}">
                    <div class="main-button text-center bg-color-4">
                        <p><img src="/images/cards.svg" alt="icone cards"></p>
                    </div>
                   </a>
                    <p><a href="{{ path('cards_setup') }}">Cards</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/home.js"></script>
{% endblock %}
