{% extends 'base.html.twig' %}

{% block title %}Hello PeopleController!
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <p class="font-weight-bold">What did you memorise?</p>
				<p id="person-index-text">Person {{userPersonIndex}} :</p>

        		{# {{form(form)}} #}
                {{ form_start(form, { attr:{ novalidate:'novalidate'} } ) }}
                <div>
                    {{ form_errors(form) }}
                </div>
				<div class="row">
					<div class="col-6 d-flex flex-column">
						{{ form_errors(form.firstName) }}
						{{ form_label(form.firstName) }}
						{{ form_widget(form.firstName) }}
					</div>
					<div class="col-6 d-flex flex-column">
						{{ form_errors(form.lastName) }}
						{{ form_label(form.lastName) }}
						{{ form_widget(form.lastName) }}
					</div>
				</div>
				<div>
                    {{ form_errors(form.address) }}
					{{ form_label(form.address) }}
                    {{ form_widget(form.address) }}
                </div>
				<div>
                    {{ form_errors(form.town) }}
					{{ form_label(form.town) }}
                    {{ form_widget(form.town) }}
                </div>
				<div>
                    {{ form_errors(form.postalCode) }}
					{{ form_label(form.postalCode) }}
                    {{ form_widget(form.postalCode) }}
                </div>
				<div>
                    {{ form_errors(form.age) }}
					{{ form_label(form.age) }}
                    {{ form_widget(form.age) }}
                </div>
				<div>
                    {{ form_errors(form.job) }}
					{{ form_label(form.job) }}
                    {{ form_widget(form.job) }}
                </div>
                <div>
                    {{ form_widget(form._token) }}
					{{ form_widget(form.recallMore, { label: 'Recall next person >>' }) }}
                    {{ form_widget(form.answer, { label: 'Answer!' }) }}
                </div>
                {# don't render unrendered fields #}
                {{ form_end(form, {'render_rest': false}) }}
			</div>
		</div>
	</div>
</div>

	<script>
		console.log('generatedPeople : ');
		var personIndex = {{userPersonIndex}};
		const personIndexTextEle = document.querySelector("#person-index-text");

		// ajax
		function ajaxCallAsynch(event) { // console.dir(myForm);
		console.log('event : ', event);

		

		if (event === undefined) {
		console.log("end ajax default ", event);
		return;
		} else {
		console.log("coucou ajax");
		}

		let form = document.querySelector('form');
		console.log(form);
		var formData = new FormData(form);
		// var jsonString = JSON.stringify(generatedPeople);
		// formData.append("data", form);
		var myInit = {
		method: 'POST',
		body: formData
		};


		fetch (`/people/recall/another`, myInit).then(function (response) {

		console.dir(response);
		return response.text();

		}).then(function (data) {
		console.log("after fetch data : ", data);
		if (data != "") {
		// location.href = '/people/recall/another';
		console.log("redirect");
		personIndex++
		personIndexTextEle.innerText = "Person " + personIndex + " :";
		form.reset();

		}


		});


		}

		// END AJAX
		document.querySelector('#recall_people_recallMore').addEventListener('click', (event) => {
			event.preventDefault();
			console.log("clicky");
			ajaxCallAsynch(event);
		});
		
	</script>
{% endblock %}
