{% extends 'base.html.twig' %}

{% block title %}Hello WordsController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>
			<a href="{{ path('default') }}">Memory</a>
		</h1>
		<h2>Hello
			{{ controller_name }}! ✅</h2>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>
					<a href="{{ '/var/www/html/src/Controller/WordsController.php'|file_link(0) }}">src/Controller/WordsController.php</a>
				</code>
			</li>
			<li>Your template at
				<code>
					<a href="{{ '/var/www/html/templates/words/index.html.twig'|file_link(0) }}">templates/words/index.html.twig</a>
				</code>
			</li>
		</ul>
		<pre>
        {{ dump(peopleQuantity) }}
    </pre>

		<p>What did you memorise?</p>

        {{form(form)}}
		{# <a href="{{ path('recall_another_person') }}">Astuces</a> #}
		{# <button id="recall-more-button">Recall More</button> #}
		{% for i in range(1, peopleQuantity) %}
		{# {{form(form)}} #}
			{# {{ form_start(form, { attr:{ novalidate:'novalidate'} } ) }}
									<div>
										{{ form_errors(form) }}
									</div>
									<div>
										{{ form_errors(form.firstName) }}
										{{ form_label(form.firstName, "First name??? :") }}
										{{ form_widget(form.firstName, { attr:{ class:'ghfghgdh hrthgh'} }) }}
									</div> #}


		{% endfor %}
		{# <div>
							{{ form_widget(form._token) }}
							{{ form_widget(form.Answer, { label: 'Ajouter' }) }}
						</div> #}
	{# don't render unrendered fields #}
		{# {{ form_end(form, {'render_rest': false}) }} #}

	</div>

	<script>
		console.log('generatedPeople : ');

		// ajax
		function ajaxCallAsynch(event) { // console.dir(myForm);
		console.log('event : ', event);

		

		if (event === undefined) {
		console.log("end ajax default ", event);
		return;
		} else {
		console.log("coucou ajax");
		}

		let form = document.querySelector('form');
		console.log(form);
		var formData = new FormData(form);
		// var jsonString = JSON.stringify(generatedPeople);
		// formData.append("data", form);
		var myInit = {
		method: 'POST',
		body: formData
		};


		fetch (`/people/recall/another`, myInit).then(function (response) {

		console.dir(response);
		return response.text();

		}).then(function (data) {
		console.log("efter fetch data : ", data);
		if (data != "") {
		// location.href = '/people/recall/another';
		console.log("redirect");

		}


		});


		}

		// END AJAX
		document.querySelector('#recall_people_recall-more').addEventListener('click', (event) => {
			event.preventDefault();
			console.log("clicky");
			ajaxCallAsynch(event);
		});
		
	</script>
{% endblock %}
