{% extends 'base.html.twig' %}

{% block title %}Memory - People score{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <p class="font-weight-bold">Score :</p>
                <p class="score-text">{{score}}/{{maxScore}}</p>
                <p class="font-weight-bold">The Answer VS Your Answer:</p>
                {% for item in answersVS %}
                    {% if item["goodAnswer"] == "yes" %}
                        <div class="user-answer-text" style="color : green">
                    {% elseif item["goodAnswer"] == "no" %}
                        <div class="user-answer-text" style="color : red">
                    {% endif %}
                            <h3>Person {{item["personIndex"]}} :</h3>
                            <p>{{item["firstName"]}} VS {{item["userFirstName"]}}</p>
                            <p>{{item["lastName"]}} VS {{item["userLastName"]}}</p>
                            <p>{{item["address"]|escape('html')}} VS {{item["userAddress"]}}</p>
                            <p>{{item["town"]}} VS {{item["userTown"]}}</p>
                            <p>{{item["postalCode"]}} VS {{item["userPostalCode"]}}</p>
                            <p>{{item["job"]}} VS {{item["userJob"]}}</p>
                            <p>{{item["age"]}} VS {{item["userAge"]}}</p>
                    </div>
                    <hr style="border-color: black; height: 10px;">
                {% endfor %}
                <a href="{{ path('people_memorise') }}"><button class="button-redo">Redo</button></a>
                <a href="{{ path('people_setup') }}"><button class="button-resetup">Re-setup</button></a>
                <a href="{{ path('tips') }}"><button class="button-astuces">Tips &amp; Tricks</button></a>
                <a href="{{ path('default') }}"><button class="button-home">Home</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}