{% extends 'base.html.twig' %}

{% block title %}Hello WordsController!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3 text-center">
                <p class="font-weight-bold">Score :</p>
                <p class="score-text">{{score}}/{{maxScore}}</p>
                <p class="font-weight-bold">The Answer :</p>
                <p class="answer-text">{{strAnswer}}</p>
                <p class="font-weight-bold">Your Answer :</p>
                <p class="user-answer-text">{{strUserAnswer}}</p>
                <a href="{{ path('words_memorise') }}"><button class="button-redo">Redo</button></a>
                <a href="{{ path('words_setup') }}"><button class="button-resetup">Re-setup</button></a>
                <a href="{{ path('default') }}"><button class="button-astuces">Tips and Tricks</button></a>
                <a href="{{ path('default') }}"><button class="button-home">Home</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}